%p{:style => "font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"}
  Bonjour #{@user.firstname}
  %br
  Merci de nous rejoindre, une
  %strong
    dernière étape
  est nécéssaire avant que vous puissiez pleinement profiter de votre compte.
  %br
  %br
  Cliquez sur ce lien pour confirmer votre compte :
  %br
  %br
  %span{:style => "text-align:center"}
    cliquez ici
  %br
  %br
  Merci de nous faire confiance
