= simple_form_for [@user] do |f|
  - if @user.errors.any?
    #error_explanation.panel.panel-danger
      %div.panel-heading
        %h4.panel-title
          = pluralize(@user.errors.count, "erreur")
          détéctée(s) lors de la modification
      %div.panel-body
        %ul
          - @user.errors.full_messages.each do |message|
            %li= message
  .col-md-3{'style' => "margin-top:50px;"}
    =f.label :firstname
    =f.text_field :firstname, class:"form-control"
    -if @user.errors[:firstname].present?
      %h5.capitalize.text-danger
        =@user.errors[:firstname].first

  .col-md-3{'style' => "margin-top:50px;"}
    =f.label :lastname
    =f.text_field :lastname, class:"form-control"
    -if @user.errors[:lastname].present?
      %h5.capitalize.text-danger
        =@user.errors[:lastname].first
  %br
  .col-md-3{'style' => "margin-top:30px;"}
    =f.label :Educare_Email
    =f.text_field :educare_email, class:"form-control"
    -if @user.errors[:educare_email].present?
      %h5.capitalize.test-danger
        =@user.errors[:educare_email].first

  %br

  .col-md-3{'style' => "margin-top:10px;"}
    =f.label :Personal_email
    =f.text_field :personal_email, class:"form-control"
    -if @user.errors[:personal_email].present?
      %h5.capitalize.test-danger
        =@user.errors[:personal_email].first

  %br

  .col-md-3{'style' => "margin-top:10px;"}
    =f.label :country
    =f.collection_select :country_id, Country.all, :id, :name, {:include_blank => 'Choose your country'}, {:class => 'form-control'}
  %br

  .col-md-3{'style' => "margin-top:10px;"}
    =f.label :password
    =f.password_field :password, class:"form-control"

  %br




  .col-md-3{'style' => "margin-top:30px;"}
    =f.submit "Sauvegarder", class:"btn btn-primary-ov",style:"width:100%;"
