%span#title
	Users Manager
%hr
%div.col-md-12
	=render 'shared/flashs'
	.table-responsive.datatable
		%table.table.table-hover#users
			%thead
				%tr
					%th Firstname
					%th Name
					%th Personal Email
					%th Educare Email
					%th.text-center
					%th.text-center
			%tbody
				-@users.each do |u|
					%tr
						%td=u.firstname
						%td=u.lastname
						%td=u.personal_email
						%td=u.educare_email
						%td.text-center
							=link_to edit_user_path(u) do
								%button.btn.btn-primary
									Update
						%td.text-center
							=link_to user_path(u),method: :delete, data: { confirm: 'Are you sure ?' } do
								%button.btn.btn-danger
									Delete
		=link_to new_user_path do
			%button.btn.btn-success
				Create a new user

:javascript
	$('#users').DataTable({
	  responsive: true
	});
