%header.navbar.navbar-top.navbar-inverse{'style' => "padding: 10px; border-radius:0px; background-color: #7dbedd; border-color: #7dbedd;"}
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.navbar-left
      =image_tag("shared/logo.png", class:"img-responsive", style:"width: 400px; ")
    %ul.nav.navbar-nav.navbar-left
      %li
        =link_to users_path, :class => "navbar-brand" do
          %i.fa.fa-fw.fa-user
          Users
      %li
        =link_to users_path, :class => "navbar-brand" do
          %i.fa.fa-fw.fa-users
          Alumni
