.collapse.navbar-collapse.navbar-ex1-collapse
  %ul.nav.navbar-nav.side-nav
    %li{:class => ('active' if @page == "dashboard")}
      =link_to admin_root_path do
        %i.fa.fa-fw.fa-dashboard
        Dashboard
    %li{:class => ('active' if @page == "administrateurs")}
      %a{:href => ""}
        %i.fa.fa-fw.fa-user-plus
        Administrateurs

    %li{:class => ('active' if @page == "utilisateurs")}
      =link_to admin_users_path do
        %i.fa.fa-fw.fa-users
        Utilisateurs

    %li{:class => ('active' if @page == "articles")}
      =link_to admin_articles_path do
        %i.fa.fa-fw.fa-pencil
        Articles
