:javascript
  google.charts.load('upcoming', {'packages':['geochart']});
  google.charts.setOnLoadCallback(drawRegionsMap);
  var test = #{@test}
  function drawRegionsMap() {

    var data = google.visualization.arrayToDataTable([
      ['Country', 'Interns'],
      test
    ]);
    var options = {};

    var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

    chart.draw(data, options);
  }


%span#title
  Alumni Network
%hr
%div.col-md-12
  #regions_div{:style => "width: 100%;"}

= form_for_filterrific @filterrific do |f|
  .row
    .col-md-3
      .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Search by first name, last name, or email.' }
        %label Search
        = f.text_field :search_query,
                       :class => 'filterrific-periodically-observed form-control'

#results
  = render :partial => 'alumni/list',
           :locals => { :users => @users }

:javascript
  $('.js-datepicker').datepicker();
  $('#overlayTrigger').click(function(event) {
    event.preventDefault();
    $('body').chardinJs('start');
  });
